body{ height: 100vh;
}*{
    margin: 0;
    padding: 0;
}
header,footer{
    position: absolute;
    background-color: white;
    width: 100%;
    color: white;
}
 header{
     height: 10vh;
 }
 header h2{
     position: absolute;
     margin-top: 20px;
     left: 20%;
 }
 footer{
     height: 10vh;
     bottom: auto;
 }
 footer h2{
     position: absolute;
     left:45%;
 }
 .nav{
     position: absolute;
     width:100%;
 }
 .nav a{
     position: relative;
     left: 60%;
     top:20px;
     color: black;
     text-decoration: none;
     margin-right: 20px;
 }
p {
    font-size: 12pt;
    margin: 5px 5px 5px 5px;
    font-family:  'Roboto', sans-serif;
    color: black;
    text-align: center;
}
li {
    font-size: 12pt;
    margin: 5px 5px 5px 5px;
    font-family:  'Roboto', sans-serif;
    color: black;
    text-align: center;
}
h1{
    font-family: 'Roboto', sans-serif;
    font-size: 30pt;
    color: black;
    text-align: center;
    
}
h2{
    font-family: 'Roboto', sans-serif;
    font-size: 15pt;
    color: black;
    text-align: center;
    }
div{
    font-family: 'Roboto', sans-serif;
    font-size: 20pt;
    
    color: black;
    
}

    .thin-red-border {
        background-color: black;
      }  

#name {
    font-size: 20pt;
    text-align: center;
}


    .top{
        color: black;
    }
    .example{
        width: 250px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
      .Me {
        width: 250px;
        font-family: 'Roboto', sans-serif;
        text-align: center;
        border: solid 10px white;
        border-radius: 160px;
        height: auto;
        display: block;
        margin-left: auto;
        margin-right: auto;
      }
      .View{
          color: black;
      font-family: 'Roboto', sans-serif;
      font-size: 15px;
      border: solid 2px black;
      border-radius: 50px;
      padding: 10px 40px;
      transition-duration: 200ms ;
      }
      .View:hover {
         background-color: grey;
         color: white;
      }
   